include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include online_course_management *.css
recursive-include online_course_management *.csv
recursive-include online_course_management *.html
recursive-include online_course_management *.ico
recursive-include online_course_management *.js
recursive-include online_course_management *.json
recursive-include online_course_management *.md
recursive-include online_course_management *.png
recursive-include online_course_management *.py
recursive-include online_course_management *.svg
recursive-include online_course_management *.txt
recursive-exclude online_course_management *.pyc